/node_modules
/public/hot
/public/storage
/documents/*
/storage/*.key
/vendor

development.env
.env
.env.development
development.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
.env.example
.styleci.yml
.vscode
temp
package-lock.json
helloworld.txt
sepa.txt
stripe.txt
local.env
documents/*
